<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.PutInMapper">

    <resultMap id="BaseResultMap" type="generator.domain.PutIn">
            <id property="rid" column="rid" jdbcType="INTEGER"/>
            <result property="bid" column="bid" jdbcType="INTEGER"/>
            <result property="uid" column="uid" jdbcType="INTEGER"/>
            <result property="intime" column="intime" jdbcType="VARCHAR"/>
            <result property="oname" column="oname" jdbcType="VARCHAR"/>
            <result property="otel" column="otel" jdbcType="VARCHAR"/>
            <result property="rremark" column="rremark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        rid,bid,uid,
        intime,oname,otel,
        rremark
    </sql>
</mapper>
