<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="generator.domain.User">
            <id property="uid" column="uid" jdbcType="INTEGER"/>
            <result property="uname" column="uname" jdbcType="VARCHAR"/>
            <result property="upsw" column="upsw" jdbcType="VARCHAR"/>
            <result property="urealname" column="urealname" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        uid,uname,upsw,
        urealname
    </sql>
</mapper>
