<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.ZhibanMapper">

    <resultMap id="BaseResultMap" type="generator.domain.Zhiban">
            <id property="zid" column="zid" jdbcType="INTEGER"/>
            <result property="uid" column="uid" jdbcType="INTEGER"/>
            <result property="begintime" column="begintime" jdbcType="VARCHAR"/>
            <result property="endtime" column="endtime" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        zid,uid,begintime,
        endtime,address,remark
    </sql>
</mapper>
